"*":
  "atom-beautify":
    general:
      _analyticsUserId: "a59b9621-8463-47a2-87f5-b37596c7d82a"
    jsx:
      brace_style: "collapse-preserve-inline"
  core:
    disabledPackages: [
      "linter-eslint"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "pen-paper-coffee-syntax"
    ]
  editor:
    fontFamily: "Hack"
  "exception-reporting":
    userId: "43be0be2-da71-47fc-8de8-71c25ec2f6ec"
  "linter-ui-default": {}
